<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">List</div>
    </div>     
    <div style="padding-top:15px" class="panel-body" ng-init="vm.loadData()">
        <div class="row" style="padding-bottom:5px">
            <div class="col-lg-6">
                <button class="btn btn-primary" ng-click="vm.addNew()">Add New </button>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for ID or Name.." ng-model="vm.searchText" key-enter="vm.search()">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.search()">Go!</button>
                    </span>
                </div>
            </div>
        </div>
        <table ng-table="vm.tableParams"  class="table table-condensed table-bordered table-striped" >
        <tbody>
            <tr ng-repeat="p in $data">
                <td>{{ $index + 1 }}</td>
                <td data-title="'ID'" >
                    {{p.idn}}
                </td>
                <td data-title="'Name'" sortable="'name'">
                    {{p.name}}
                </td>
                <td data-title="'Age'">
                    {{p.age}}
                </td>
                <td data-title="'Sex'">
                    {{p.sex}}
                </td>
                <td data-title="'Address'">
                    {{p.addr}}
                </td>
                <td data-title="'Phone'">
                    {{p.phone}}
                </td>
                <td style="width:10px">
                    <p data-placement="top" data-toggle="tooltip" title="Edit" style="margin-bottom:0px">
                        <button class="btn btn-primary btn-xs" ng-click="vm.edit(p)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </p>
                </td>
                <td style="width:10px">
                    <p data-placement="top" data-toggle="tooltip" title="Delete" style="margin-bottom:0px">
                        <button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ng-click="vm.del(p)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </p>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>