<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">List</div>
    </div>     
    <div style="padding-top:30px" class="panel-body" ng-init="vm.loadData()">
        <table ng-table="vm.tableParams"  class="table table-condensed table-bordered table-striped" >
       
        <tbody>
            <tr ng-repeat="person in $data">
                <td data-title="'id'" >
                    {{person.id}}
                </td>
                <td data-title="'First Name'" sortable="'firstName'" filter="{firstName: 'text'}">
                    {{person.firstName}}
                </td>
                <td data-title="'Last Name'" sortable="'lastName'">
                    {{person.lastName}}
                </td>
            </tr>
        </tbody>
        </tbody>
    </table>
    </div>
</div>