<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Record Information</div>
    </div>     
    <div style="padding-top:15px" class="panel-body" ng-init="vm.loadData()">
        <form name="form" ng-submit="vm.save()" role="form">
            <div class="form-group">
                <label for="Complain">Complain</label>
                <textarea class="form-control" placeholder="Complain" ng-model="vm.record.complain" autoheight required />
            </div>
            <div class="angular-background-color form-group table-responsive">
                <table id="tableTest" class="table">
                    <thead>
                    <tr>
                        <th style="width:150px">Test</th>
                        <th style="font-size:90%">Item</th>
                        <th style="font-size:90%">Description</th>
                        <th style="width:50px"><button class="btn btn-primary btn-sm" type="button" ng-click="vm.addNewTest()">Add New</button></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in vm.record.tests">
                            <td style="width:30px">{{ $index + 1 }}</td>
                            <td>{{t.item}}</td>
                            <td><span class="angular-with-newlines">{{t.description}}</span></td>
                            <td>
                                <span data-toggle="tooltip" title="Delete">
                                    <button class="btn btn-danger btn-xs" type="button" ng-click="vm.deleteTest(t)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table id="tablefile" class="table">
                    <thead>
                        <tr>
                            <th>Test File Name <button type="button" ngf-select="vm.addFiles($files)" multiple accept="image/*">Select Files</button></th>
                            <th style="width:50px">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="c in vm.record.contents">
                            <td>{{c.name}}</td>
                            <td>
                                <span data-toggle="tooltip" title="Delete">
                                    <button class="btn btn-danger btn-xs" type="button" ng-click="vm.deleteFile(c)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label for="Diagnose">Diagnose</label>
                <textarea class="form-control" placeholder="Diagnose" ng-model="vm.record.diagnose" autoheight required />
            </div>
            <div class="angular-background-color form-group table-responsive">
                <table id="tableTest" class="table">
                    <thead>
                    <tr>
                        <th style="width:150px">Treatment</th>
                        <th style="font-size:90%">Item</th>
                        <th style="font-size:90%">Number</th>
                        <th style="font-size:90%">Description</th>
                        <th style="width:50px"></span><button class="btn btn-primary btn-sm" type="button" ng-click="vm.addNewTreatment()">Add New</button></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="t in vm.record.treatments">
                            <td style="width:30px">{{ $index + 1 }}</td>
                            <td>{{t.name}}</td>
                            <td>{{t.number}}</td>
                            <td><span class="angular-with-newlines">{{t.description}}</span></td>
                            <td>
                                <span data-toggle="tooltip" title="Delete">
                                    <button class="btn btn-danger btn-xs" type="button" ng-click="vm.deleteTreatment(t)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <label for="Remind">Remind</label>
                <input datetime-picker class="form-control" ng-model="vm.record.remindAt" />
            </div>
            <div class="form-group">
                <label for="Description">Description</label>
                <textarea class="form-control" placeholder="Description" ng-model="vm.record.description" autoheight required />
            </div>
            <hr/>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
                <button  type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>