<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Info</div>
    </div>     
    <div style="padding-top:15px" class="panel-body" ng-init="vm.loadData()">
        <form name="form" ng-submit="vm.save()" role="form">
            <div class="form-group">
                <label for="Complain">Complain</label>
                <textarea class="form-control" placeholder="Complain" ng-model="vm.record.complain" required />
            </div>
            <div class="form-group table-responsive">
                <table id="tableTest" class="table">
                    <thead>
                    <tr>
                        <th>Test <button class="btn btn-link" ng-click="vm.addNewTest()">Add New Test</button></th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Age</th>
                        <th>City</th>
                        <th>Country</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="form-group">
                <label for="Diagnose">Diagnose</label>
                <textarea class="form-control" placeholder="Diagnose" ng-model="vm.record.diagnose" required />
            </div>
            <div class="form-group">
                <label for="Treatment">Treatment</label>
                <textarea class="form-control" placeholder="Treatment" ng-model="vm.record.treatment" required />
            </div>
            <hr/>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>