<div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Drug Information</div>
    </div>     
    <div style="padding-top:15px" class="panel-body">
        <form name="form" role="form" ng-submit="saveDrug()">
            <div class="form-group">
                <label for="Name">Name</label>
                <angucomplete id="ex1"
                    placeholder="Search drugs"
                    pause="100"
                    selectedObject="selectedObject"
                    localdata="drugs"
                    searchfields="name"
                    titlefield="name"
                    descriptionfield:"id"
                    minlengsh="1"
                    inputclass="form-control form-control-small" class="ng-isolate-scope"/>
            </div>
            <div class="form-group">
                <label for="Number">Number</label>
                <input type="number" class="form-control" placeholder="Number" ng-model="drug.number" min="0" required />
            </div>
            <hr/>
            <button ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            <button class="btn btn-default" type="button" ng-click="closeDrug()">Cancel</button>
        </form>
    </div>
</div>